@font-face {
  font-family: "pixter-granularregular";
  src: url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/font/pixter_granular-webfont.woff2")
    format("woff2");
  src: url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/font/pixter_granular-webfont.woff")
    format("woff");
}

@font-face {
  font-family: "Da Bomb";
  src: url("/fonts/DaBomb.woff2") format("woff2");
  src: url("/fonts/DaBomb.otf") format("opentype");
}
@font-face {
  font-family: "Depixel";
  src: url("/fonts/depixelschmal.woff2") format("woff2");
  src: url("/fonts/depixelschmal.woff") format("woff");
}

@font-face {
  font-family: "fontstuck";
  src: url("/fonts/fontstuck-extended.woff2") format("woff2");
  src: url("/fonts/fontstuck-extended.otf") format("opentype");
}

.friend {
  display: block;
  box-sizing: border-box;
  max-width: 800px;
  margin: 16pt auto;
  padding: 20px;
  text-align: center;
}

.friend h2 {
  line-height: normal;
  font-size: 2.25em;
}
.friend p {
  margin: 0.5em;
}
.friend a {
  font-family: inherit;
}

.lise {
  background-color: #b886f5;
  font-family: "pixter-granularregular", monospace;
  cursor:
    url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/cursors/wii-pointer-ccw.cur"),
    auto;
}

.lise h2 {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.lise hr {
  border-color: rgb(115, 0, 255);
  width: 90%;
}

.lise a {
  font-size: 1em;
  color: rgb(91, 206, 250);
  text-decoration: none;
}
.lise a:visited {
  color: rgb(115, 0, 255);
  text-decoration: none;
}
.lise a:hover {
  color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  cursor:
    url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/cursors/wii-pointer-ccw.cur"),
    auto;
}

.ridley {
  font-family: "Depixel", monospace;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 29, 12, 1) 0%,
    rgba(107, 41, 10, 1) 100%
  );
  border-radius: 0.375rem;
  border: 3px solid black;
  color: #fdd3ad;
}

.ridley h2 {
  font-family: "Da Bomb", sans-serif;
}

.ridley a {
  color: #add7fd;
}
.ridley a:visited {
  color: #d3adfd;
}

.gira {
  color: #ccfffe;
  background-color: #416600;
  font-family: sans-serif;
  cursor:
    url("https://giraffeyla10.neocities.org/img/SBURB_SELECT.png"), default;
  border: 4pt solid;
  border-color: #5d8811 #223500 #223500 #5d8811;
}

.gira h2 {
  font-family: "fontstuck", "Courier New", Courier, monospace;
}

.gira a {
  color: #4f0099;
  font-weight: bold;
  text-decoration: none;
}
