body {
  font-family: sans-serif;
  text-align: center
}


#message {
  font-size: 2rem;
}

form {
  margin: auto;
}

input[type="radio"] {
  display: none;
}

button {
  font-size: 1.5rem;
}

.option_button {
  border: 5px dotted #2ded86;
  display: inline-block;
  margin: 10px;
  font-size: 5rem;
  background-color: transparent;
  width: 40%;
  min-width: 1lh;
  max-width: 3em;
}
.option_button:hover {
  border-style: solid;
}

input[type="radio"]:checked + label.option_button {
  background-color: #2ded86;
  border-color: transparent;
  font-weight: bold;
}
