---
const pageTitle = "Ranid not Found";
import Default from "@layouts/Default.astro";
---

<Default pageTitle={pageTitle}>
  <h4>Error 404: page not found.</h4>
  If you were linked to a page, it was likely moved. Check the links at the top
  in the navigation, and scroll through the blog to find what you need.
</Default>
