---
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";
import "../styles/style.css";

export interface Props {
  pageTitle: string;
  description?: string;
  type?: string;
}
const { pageTitle, description, type = "website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Header pageTitle={pageTitle} description={description} />
    <meta name="og:type" content={type} />
  </head>

  <body>
    <div class="content-box">
      <Nav />

      <slot />
    </div>
  </body>
</html>
